.Details {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Details .back-drop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 50%;
}

.Details .poster {
  height: 200px;
  margin: 20px;
}

.Details p {
  font-size: larger;
  font-weight: bold;
  width: 50%;
  margin: 5px;
}
