.Details {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.Details .back-drop {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 50%;
}

.Details .poster {
  height: 200px;
  margin: 20px;
}

.Details h2 {
  font-size: 80px;
}
.Details p {
  font-size: larger;
  font-weight: bold;
  width: 50%;
  margin: 5px;
}

.Details a:hover,
.Details i:hover {
  color: lightblue;
  cursor: pointer;
}

.Details .addWL {
  color: lightgreen;
}

.Details .removeWL {
  color: lightcoral;
}
