.Footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-image: url("/src/assets/header-bg-image.jpg");
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.Footer .tmdb {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.Footer p {
  margin: 10px;
}
