.Movie {
  height: 600px;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.Movie a {
  text-decoration: none;
  color: white;
}

.Movie .addWL {
  color: lightgreen;
}

.Movie .removeWL {
  color: lightcoral;
}

.Movie a:hover,
.Movie i:hover {
  color: lightblue;
  cursor: pointer;
}
