.SearchForm {
  margin-top: 20px;
  text-align: center;
}

.SearchForm p {
  background-color: lightseagreen;
  border: 2px solid white;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
}

.SearchForm p:hover {
  background-color: dodgerblue;
  color: black;
  cursor: pointer;
}

.SearchForm .selected {
  background-color: lightcoral;
}

.SearchForm .filterBy {
  display: flex;
  justify-content: center;
}

.SearchForm .dropDown {
  border-radius: 5px;
  padding: 5px;
  margin: 1px;
}

.SearchForm input {
  border-radius: 5px;
  padding: 5px;
  margin: 1px;
}

.SearchForm button {
  border-radius: 5px;
  padding: 5px;
  margin: 1px;
}

.SearchForm button:hover {
  color: white;
  background-color: dodgerblue;
}
