.WatchList {
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.WatchList h2 {
  margin: 20px;
}

.WatchList ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WatchList li {
  height: 600px;
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* .WatchList {
  
} */

  .WatchList ul {
    flex-wrap: wrap;
    flex-direction: row;
  }

  /* .WatchList li {
  
} */
}
